.container {
  background-color: black;
  height: 110vh;
  width: auto;
  display: flex;
  justify-content: center;
  .boxColor {
    margin-top: 15vh;
    background-color: #ff385c;
    border-radius: 20px;
    width: 90vw;
    height: 380px;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .content {
        font-size: 46px;
        color: white;
        text-align: center;
    }
    .btn{
        font-size:20px;
        text-decoration: none;
        border: 1px solid white;
        border-radius: 8px;
        color: white;
        padding: 0 20px 5px;
        cursor: pointer;
    }
  }
  
}
